<div class="container">
    <div class="row my-5">
        <div class="my-2">
            <input id="firstname" type="text" placeholder="first name" />
            <input id="lastname" type="text" placeholder="last name" />
            <input id="email" type="text" placeholder="email" />
            <input id="phone" type="text" placeholder="phone number" />
            <input id="btnPost" type="button" value="POST" />
            <input id="btnGet" type="button" value="GET ALL" />
            <input id="btnShow" type="button" value="GET ALL PERFORMANCE" />
            <input id="btnClear" type="button" value="CLEAR" />
        </div>
    </div>
    <br />
    <div class="row my-5">
        <div class="col-12 mx-auto my-2">
            <input id="delete" type="text" placeholder="id:delete" />
            <input id="btnDelete" type="button" value="DELETE" />
        </div>
    </div>
    <br />
    <div class="row my-5">
        <div class="col-12 mx-auto my-2">
            <input id="update" type="text" placeholder="id:update" />
            <input id="btnUpdate" type="button" value="UPDATE" />
        </div>
    </div>
    <div class="row my-5">
        <ul id="ulriders"></ul>
        <p id="test"></p>
    </div>
</div>